<div style="margin-bottom: 3rem;">
    <h2 class="quote">
        True friends are rare to find.<br> But when you find one then hold them tightly and never let go of them.<br>
        They are the true gem.
    </h2>
</div>

