<div style="margin-bottom: 3rem;">
    <h2 class="quote">
        True friends are rare to find.<br> But when you find one then hold them tightly and never let go of them.<br>
        They are the true gem.
    </h2>
</div>


<div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag asset_path("friends.jpeg"), class:"cover image-fluid"%>
      </div>
      <div class="col">
        <%= image_tag asset_path("friends2.jpeg"), class:"cover image-fluid"%>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <%= image_tag asset_path("friends3.jpeg"), class:"cover image-fluid"%>
        </div>
       
    </div>
</div>