// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Background-color {
    background-color: #fff8cb;
    border-radius: 1rem;
    padding: 4rem;
}